- n.nav do |nc|
  - nc.link 'Tables', url: components_tables_path, state: nav_active_link(components_tables_path)
  - nc.link 'Tables cards', url: components_tables_cards_path, state: nav_active_link(components_tables_cards_path)
