- n.nav do |nc|
  - nc.link 'Table', url: components_table_path, state: nav_active_link(components_table_path)
  - nc.link 'Table card', url: components_table_card_path, state: nav_active_link(components_table_card_path)
