= nav class: 'nav-right' do |n|
  - n.link 'Buttons', url: '#'
  - n.nav do |na|
    - na.link 'Buttons choice', url: '#'
    - na.link 'Buttons dropdown', url: '#'
    - na.link 'Buttons group', url: '#'
    - na.link 'Buttons link', url: '#'
    - na.link 'Buttons split dropdown', url: '#'
  - n.link 'Cards', url: '#'
  - n.nav do |nb|
    - nb.link 'Cards column', url: '#'
    - nb.link 'Cards deck', url: '#'
    - nb.link 'Cards group', url: '#'

