- n.nav do |nc|
  - nc.link 'Alerts, notify', url: components_alerts_notify_path
  - nc.link 'Breadcrumbs', url: components_breadcrumbs_path
  - nc.link 'Buttons', url: '#', status: :disabled
  - nc.nav do |na|
    - na.link 'Buttons', url: components_buttons_path, status: :active
    - na.link 'Buttons choice', url: components_buttons_buttons_choice_path
    - na.link 'Buttons dropdown', url: components_buttons_buttons_dropdown_path
    - na.link 'Buttons group', url: components_buttons_buttons_group_path
    - na.link 'Buttons link', url: components_buttons_buttons_link_path
    - na.link 'Buttons split dropdown', url: components_buttons_buttons_split_dropdown_path
  - nc.link 'Cards', url: '#', status: :disabled
  - nc.nav do |na|
    - na.link 'Cards', url: components_cards_cards_path
    - na.link 'Cards column deck and group', url: components_cards_cards_column_deck_and_group_path
  - nc.link 'Components', url: components_path
  - nc.link 'Dropdowns', url: components_dropdowns_path
  - nc.link 'Glyphs', url: components_glyphs_path
  - nc.link 'Inputs', url: '#', status: :disabled
  - nc.nav do |na|
    - na.link 'Date picker fields', url: components_inputs_date_picker_fields_path
    - na.link 'Multi column fields', url: components_inputs_multi_column_fields_path
    - na.link 'Multi select fields', url: components_inputs_multi_select_fields_path
    - na.link 'Suround fields', url: components_inputs_surround_fields_path
  - nc.link 'Jumbotrons', url: components_jumbotrons_path
  - nc.link 'Labels, etiquettes', url: components_labels_etiquettes_path
  - nc.link 'Lists group', url: components_lists_group_path
  - nc.link 'Modals', url: components_modals_path
  - nc.link 'Navs', url: components_navs_path
  - nc.link 'Navbars', url: components_navbars_path
  - nc.link 'Progresses', url: components_progresses_path
  - nc.link 'Stars', url: components_stars_path

