// WORK IN PROGRESS
:markdown
  # Tables cards

  The `table_card` component may comprise :

  * a pagination
  * an url

  The pagegination is managed through the gem `will_paginate` .

  The methods of `will_paginate` work with the `table` component such as `per_page` .

%important
  :markdown
    #### Important
    To add, edit, delete columns and actions in the component `table_card` you must add the option `tap: true` .

- @sections = sections do |s|
  - s.section title: "View" do
    :markdown
      The columns are all displayed by default and the default actions are :

      * show
      * edit
      * delete
    = example do |c|
      - c.header do
        = table_card({ store: @users, tap: true }) do |b|
          - b.columns do |cls|
            - cls.column :id
            - cls.column :email
            - cls.column :active
            - cls.column :company
            - cls.column :created_at
            - cls.column :updated_at
          - b.actions do |acs|
            - acs.link 'Show', url: '#show', glyph: 'eye'
            - acs.link 'Edit', url: '#show', glyph: 'pencil'
            - acs.link 'Delete', url: '#show', glyph: 'trash',  link_html_options: { data: { confirm: 'Are you sure?' }}
      - c.code do
        table_card({ store: @users, tap: true })
      - c.footer do
        = documentation_link 'Documentation', '#'

= @sections.render
