:markdown
  # Tables cards

  Le composant `table_card` peut comporter:

  * une pagination
  * une recherche

  La pagination est gérée grâce à la gem `will_paginate`.

  Les methodes de `will_paginate` fonctionnent avec le composant `table` comme par exemple `per_page`.

%important
  :markdown
    #### Important
    Pour ajouter, modifier, supprimer des colonnes et des actions dans le component
    `table_card` vous devez ajouter l'option `tap: true`.
