= col ({ num: 12 }) do
  :markdown
    # About

    ![Ui Bibz logo](http://hummel.link/Ui-Bibz/1.2.3/images/ui-bibz-logo-without-border.gif)

    **Ui Bibz** -> ![http://badge.fury.io/rb/ui_bibz](https://badge.fury.io/rb/ui_bibz.svg) ![https://travis-ci.org/thooams/Ui-Bibz](https://travis-ci.org/thooams/Ui-Bibz.svg) ![https://codeclimate.com/github/thooams/Ui-Bibz](https://codeclimate.com/github/thooams/Ui-Bibz/badges/gpa.svg) ![https://codeclimate.com/github/thooams/Ui-Bibz](https://codeclimate.com/github/thooams/Ui-Bibz/badges/coverage.svg) ![http://inch-ci.org/github/thooams/Ui-Bibz](http://inch-ci.org/github/thooams/Ui-Bibz.svg?branch=master) ![https://hakiri.io/github/thooams/Ui-Bibz/master](https://hakiri.io/github/thooams/Ui-Bibz/master.svg) ![https://gemnasium.com/thooams/Ui-Bibz](https://gemnasium.com/thooams/Ui-Bibz.svg)

    **Ruby On Rails** -> [![Ruby On Rails Version](https://badge.fury.io/rb/rails.svg)](https://badge.fury.io/rb/rails)

    **Bootstrap** -> [![Bootstrap Version](https://badge.fury.io/rb/bootstrap.svg)](https://badge.fury.io/rb/bootstrap)

    This project rocks and uses MIT-LICENSE.

    ## History

    Originally, **Ui Bibz** was created by [Thomas HUMMEL](http://hummel.link/ "Thomas HUMMEL WebSite"), a French Ruby developer who want to create a library facilitating the use of the [Bootstrap](http://getbootstrap.com/ "Bootstrap") framework in **Ruby On Rails** projects, so he launched the [Open Source](https://github.com/thooams/Ui-Bibz "Ui Bibz on GitHub") project **Ui Bibz** on September 5, 2015.

    Ui Bibz developed in **Ruby** with the **Ruby On Rails** framework.

    New components are added regularly to offer more choice than official components provided by **Bootstrap**.

    We are listening and open to suggestions from users of the library, so you can suggest new components or modifications of existing components from the [project issues](https://github.com/thooams/Ui-Bibz/issues "Issues Ui Bibz Git Hub") it's an **Open Source** project !

    You can also suggest improvements to the documentation in the [same way](https://github.com/thooams/ui-bibz-app/issues "Documentation Ui Bibz Git Hub") !
