= title 'About', display_ui: false
:markdown
  #{ image_tag 'ui-bibz-logo-without-border.gif', alt: 'ui bibz logo', style: 'float: left; margin: 20px 50px 30px 0px' }

  [![Gem Version](https://badge.fury.io/rb/ui_bibz.svg)](https://badge.fury.io/rb/ui_bibz)
  [![Maintainability](https://api.codeclimate.com/v1/badges/cfbe9828c32d69581534/maintainability)](https://codeclimate.com/github/thooams/ui_bibz/maintainability)
  [![Test Coverage](https://api.codeclimate.com/v1/badges/cfbe9828c32d69581534/test_coverage)](https://codeclimate.com/github/thooams/ui_bibz/test_coverage)
  [![security](https://hakiri.io/github/thooams/ui_bibz/main.svg)](https://hakiri.io/github/thooams/ui_bibz/main)
  [![Ci](https://github.com/thooams/ui_bibz/workflows/CI/badge.svg)](https://github.com/thooams/ui_bibz/actions)
  [![Inline docs](http://inch-ci.org/github/thooams/ui_bibz.svg?branch=main)](http://inch-ci.org/github/thooams/ui_bibz)

  This project rocks and uses #{ UiBibzApp::Application::LICENSE }-LICENSE.

  ## History

  Originally, **Ui Bibz** was created by [Thomas HUMMEL](http://hummel.link/ "Thomas HUMMEL WebSite"), a French Ruby developer who want to create a library facilitating the use of the [Bootstrap](http://getbootstrap.com/ "Bootstrap") framework in **Ruby On Rails** projects, so he launched the [Open Source](https://github.com/thooams/ui_bibz "Ui Bibz on GitHub") project **Ui Bibz** on September 5, 2015.

  This library was created to avoid to write html and javascript with your components. No need to know how write a bootstrap component. No need to know new features of boostrap or html, or javascript. Just configure your component and use rails conventions.

  Ui Bibz developed in **Ruby** with the **Ruby On Rails** framework.
  New components are added regularly to offer more choice than official components provided by **Bootstrap**.
  We are listening and open to suggestions from users of the library, so you can suggest new components or modifications of existing components from the [project issues](https://github.com/thooams/ui_bibz/issues "Issues Ui Bibz Git Hub") it's an **Open Source** project !

  You can also suggest improvements to the documentation in the [same way](https://github.com/thooams/ui-bibz-app/issues "Documentation Ui Bibz Git Hub") !
