:markdown
  # About

  ![Ui Bibz logo](http://hummel.link/Ui-Bibz/1.2.3/images/ui-bibz-logo-without-border.gif)

  ![http://badge.fury.io/rb/ui_bibz](https://badge.fury.io/rb/ui_bibz.svg) ![https://travis-ci.org/thooams/Ui-Bibz](https://travis-ci.org/thooams/Ui-Bibz.svg) ![https://codeclimate.com/github/thooams/Ui-Bibz](https://codeclimate.com/github/thooams/Ui-Bibz/badges/gpa.svg) ![https://codeclimate.com/github/thooams/Ui-Bibz](https://codeclimate.com/github/thooams/Ui-Bibz/badges/coverage.svg) ![http://inch-ci.org/github/thooams/Ui-Bibz](http://inch-ci.org/github/thooams/Ui-Bibz.svg?branch=master) ![https://hakiri.io/github/thooams/Ui-Bibz/master](https://hakiri.io/github/thooams/Ui-Bibz/master.svg) ![https://gemnasium.com/thooams/Ui-Bibz](https://gemnasium.com/thooams/Ui-Bibz.svg)

  This project rocks and uses MIT-LICENSE.
