= col num: 8  do
  :markdown
    # Getting Started
    ##Install

    Add these lines in your Gemfile:

    <pre>
      source 'https://rubygems.org'

      ...
      gem "ui_bibz", '~> #{ @ui_bibz.version }'
      ...
    </pre>

    Run this command: `bundle install`

    ##Assets Install

    Put this line in: `/app/assets/stylesheets/applications.css`

    `*= require ui_bibz`

    Put this line in: `/app/assets/javascripts/applications.js`

    `//= require ui_bibz`

    _Ps: You can use sass variables into Boostrap._

= col num: 4 do
  %div
    :markdown

      ##Compatibility

      Gem is compatible with [**Ruby**](https://www.ruby-lang.org/ "Ruby") version 2.x.x and [**Ruby On Rails**](http://rubyonrails.org/ "Rails") 4.2.x.

  %div
    :markdown

      ##Simple form

      Gem is compatible with  [simple_form](https://github.com/plataformatec/simple_form).
      All inputs fields can be used with **simple_form**.
