:markdown
  # Getting Started
  ##Install

  Add this line in your Gemfile:  `gem "ui_bibz", '~> #{ UiBibzApp::Application::VERSION }'`

  Run this command: `bundle install`

  ##Assets Install

  Put this line in: /app/assets/stylesheets/applications.css


            ...
            *= require ui_bibz
            ...

  Put this line in: `/app/assets/javascripts/applications.js`

            ...
            //= require ui_bibz
            ...

  _Ps: You can use sass variables into Boostrap._

  ##Simple form

  Gem is compatible with  [simple_form](https://github.com/plataformatec/simple_form).
  All inputs fields can be used with **simple_form**.
