%h1 Getting Started
%h2 Installation
%p
  Ajouter la gem dans Rails :
  %br
  %code gem "ui_bibz", '~> #{ UiBibzApp::Application::VERSION }'

%p
  Lancer la command suivante :
  %br
  %code  bundle install

%h2 Installation des assets
%p
  Placer la ligne suivante dans
  %code /app/assets/stylesheets/applications.css

  %pre
          ...
    \*= require ui_bibz
    \...

%p
  Placer la ligne suivante dans
  %code /app/assets/javascripts/applications.js
  %pre
          ...
    \//= require ui_bibz
    \...

  _Ps: Vous pouvez utiliser les variables sass présentes dans boostrap._

%h2 Simple form
%p
  La gem est compatible avec la librairie
  = link_to "simple_form", "https://github.com/plataformatec/simple_form"
  \. Tous les inputs peuvent être utilisé avec
  %strong simple_form.

