@import ui_bibz
@import components

.bd-example-modal .modal
  position: relative
  top: auto
  right: auto
  bottom: auto
  left: auto
  z-index: 1
  display: block

.nav-link
  text-decoration: none


// Menu de gauche
.nav-left
  font-size: 1rem
  li.nav-item
    ul.nav
      li.nav-item
        a.nav-link.active
          font-weight: 800
          color: #003c6f
          background-color: transparent
      ul.nav
        li.nav-item
          a.nav-link.active
            padding-left: 8px
            font-weight: 800
            color: rgb(0, 60, 111)
            background-color: transparent
            border-left: 2px solid rgb(0, 60, 111)
  .nav
    font-size: 1rem
    padding-left: 10px !important
    .nav
      font-size: 0.85rem

.nav-left a.nav-link.active
  padding-left: 8px
  font-weight: 800
  color: rgb(0, 60, 111)
  background-color: transparent
  border-left: 2px solid rgb(0, 60, 111)

.nav-left .nav-link
  padding: 0.2rem 0.5rem
.nav-left li.nav-item
  display: block
  width: 100%

h2, h3
  margin-top: 3rem

$brand-primary-light: rgba(255, 255, 255, 0.15)

.pageheader
  padding: 4rem
  background-color: theme-color(primary)
  background-image: linear-gradient($brand-primary-light 2px, transparent 2px), linear-gradient(90deg, $brand-primary-light 2px, transparent 2px),  linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px)
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
  color: white
  //margin-bottom: 3rem
  border-bottom: 1px solid rgb(19, 100, 162)
  border-top: 1px solid rgb(19, 100, 162)
  img
    float: left
    margin-right: 0.5rem
  .logo
    margin-right: 2rem
    border: 1px solid rgb(19, 100, 162)

// Style pour la page d'accueil
.pageheader-blue
  padding: 4rem
  background-color: theme-color(primary)
  background-image: linear-gradient($brand-primary-light 2px, transparent 2px), linear-gradient(90deg, $brand-primary-light 2px, transparent 2px),  linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px)

  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
  color: white
  border-top: 1px solid rgb(19, 100, 162)
  text-align: center
  .logo
    margin-right: 2rem
    margin-bottom: 1.2rem
    margin-left: 2.6rem
    border: 1px solid rgb(19, 100, 162)
  .icon
    float: left
  .littlemsg
    line-height: 1.7rem
    font-style: italic
    font-size: 0.7rem
    color: rgb(214, 214, 214)

// Style pour la page d'accueil
.pageheader-white
  padding: 0rem, 4rem, 0, 4rem
  background-color: rgb(255, 255, 255)
  color: rgb(20, 23, 5)
  text-align: center
  .slogan
    font-family: Impact
  .columns-white
    font-size: 0.8rem
    .logo-rails
      width: 300px
      margin-bottom: 1.5rem
    .loco-uibibz
      margin-bottom: 1rem
    .logo-bootstrap
      width: 210px
  .little-hr
    height: 0.1rem
    color: #405E98
    background-color: #405E98
    width: 20%
    margin-top: 2rem
    border-radius: 90%
  .littlemsg
    line-height: 2rem

body > footer
  padding: 1rem 0
  font-size: 85%
  background-color: #f7f7f7
  border-top: 1px solid #e6e6e6
  text-align: center
  nav
    a
      padding: 5px

.open-dropdown-example
  margin-bottom: 100px

.modal-example
  position: relative
  top: auto
  right: auto
  bottom: auto
  left: auto
  z-index: 1
  display: block

// Bouton retour au top
.scroll-to-top
  margin: 0
  position: fixed
  bottom: 2%
  right: 1%
  text-decoration: none
  border-radius: 40%

.back-top
  display: none

// Image de la page Get Started
.img-keep-calm
  width: 15rem
  border-radius: 3rem
  margin-left: 5rem

.card
  img
    width: 100%
    height: 200px

.description
  width: 70%
  margin: 5px auto 10px auto

// Menu de droite
.secondary-nav
  background: linear-gradient(to right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 10%)
  border-left: 1px solid rgba(0,0,0,0.1)
  .sticky
    position: -webkit-sticky
    position: sticky
    top: 4rem
    //max-height: calc(120vh - 2rem)
    overflow-y: auto
  h2:first-child
    margin-top: 0rem
    margin-bottom: 1rem
  li
    width: 100%
    display: block

// Menu de gauche
.left-nav
  padding: 1rem 1rem 3rem 1rem
  border-right: 1px solid rgba(0,0,0,0.1)
  h2:first-child
    margin-top: 0rem

.content
  background: linear-gradient(to right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 3%)
  padding: 0rem 3rem 3rem 3rem

@media all and (max-width: 992px)
  .secondary-nav
    display: none
  .left-nav
    margin: 0 0 1rem 0

h2
  border-bottom: 1px solid #efefef
  //margin-top: 0rem
  padding-bottom: 5px

.bd-callout
  padding: 1.25rem
  margin-top: 1.25rem
  margin-bottom: 1.25rem
  border: 1px solid #eee
  border-left-width: .25rem
  border-radius: .25rem

.bd-callout-warning
  border-color: theme-color(warning)
  span
    color: theme-color(warning)

.about
  ul
    list-style: none
    margin-left: 7.7rem
    li
      background-image: url(puce.gif)
      background-repeat: no-repeat
      background-position: left center
      padding-left: 20px


.navbar
  .navbar-form
    input[type=text]
      width: 150px

.code-index
  pre
    margin-bottom: 0px

blockquote
  color: grey

.connected-input-table
  text-align: center
  td:first-child
    text-align: left

.auto-complete-field
  min-width: 150px

.dropdown
  margin-right: 10px

.ui_surround_field
  .dropdown
    margin-right: 0px
