// Place all the styles related to the Components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-code > .card-header, .card-code > .card-footer
  background-color: white

.card-code .card-block pre
  margin: 0

.card-code > .card-header
  min-height: 65px
  margin-top: 2rem

.highlight .err
  background-color: transparent !important

.card-code > .card-header:after
  position: absolute
  top: 15px
  left: 15px
  font-size: 12px
  font-weight: 800
  color: #959595
  letter-spacing: 1px
  content: "EXEMPLE"

.card-columns
  @include media-breakpoint-only(lg)
    column-count: 2
  @include media-breakpoint-only(xl)
    column-count: 2

.code
  padding: 0

.list-options
  span
    padding: 0 5px
  .option-types
    font-style: italic
    color: grey
  .option-default
    font-style: bold
    color: grey

.usage .code, .component-options .list-options, .component-html-options .list-options
  margin-top: 1.25rem
