%header
  = ui_navbar title: UiBibzApp::Application::NAME, position: :top, status: :dark, type: :dark do |nb|
    - nb.navbar_toggle_html do
      = button_tag class: "navbar-toggler d-block d-md-none collapsed submenu-toggler" do
        = ui_glyph "arrow-alt-circle-down"
    - nb.brand image_pack_tag('brand.png', alt: "Ui Bibz logo", size: "37x30"), url: root_url
    - nb.nav do |n|
      - opts = { url: getting_started_path }
      - opts.merge!({ state: :active }) if params[:action] == 'getting_started'
      - n.link 'Get started', opts
      - opts = { url: components_boxes_card_path }
      - opts.merge!({ state: :active }) if params[:controller].scan('components').size > 0
      - n.link 'Components', opts
      - opts = %w(component custom_component).include?(params[:action]) ? { state: :active } : {}
      - n.dropdown 'Component', opts do |d|
        - opts = { url: component_path }
        - opts.merge!({ state: :active }) if params[:action]  == 'component'
        - d.link 'Base', opts
        - opts = { url: custom_component_path }
        - opts.merge!({ state: :active }) if params[:action]  == 'custom_component'
        - d.link 'Custom', opts
      - opts = { url: simple_form_path }
      - opts.merge!({ state: :active}) if params[:action] == 'simple_form'
      - n.link 'Simple form', opts
      - opts = { url: theme_path }
      - opts.merge!({ state: :active}) if params[:action] == 'theme'
      - n.link 'Theme', opts
    - nb.spacer
    - nb.nav do |sn|
      - opts = { url: about_path, text: false, glyph: "info-circle" }
      - opts.merge!({ state: :active}) if params[:action] == 'about'
      - sn.link 'About', opts
      - sn.link "Github", url: "https://github.com/thooams/Ui-Bibz", text: false, glyph: { name: "github", style: :brands }, a_html: { target: "_blank", rel: "noopener"}
      - sn.link "Ruby Gem", url: "https://rubygems.org/gems/ui_bibz", text: false, glyph: "gem", a_html: { target: "_blank", rel: "noopener"}
      - sn.link "Npm", url: "https://www.npmjs.com/package/ui-bibz-js", text: false, glyph:  { name: "npm", style: :brands }, a_html: { target: "_blank", rel: "noopener"}
