%header
  = ui_navbar title: UiBibzApp::Application::NAME, status: :light, type: :light do |nb|
    - nb.nav do |n|
      - opts = { url: getting_started_path }
      - opts.merge!({ state: :active }) if params[:action] == 'getting_started'
      - n.link 'Get started', opts
      - opts = { url: components_path }
      - opts.merge!({ state: :active }) if controller_name == 'components'
      - n.link 'Components', opts
      - opts = { url: custom_component_path }
      - opts.merge!({ state: :active }) if params[:action]  == 'custom_component'
      - n.link 'Custom Component', opts
      - opts = { url: theme_path }
      - opts.merge!({ state: :active}) if params[:action] == 'theme'
      - n.link 'Theme', opts
      - opts = { url: about_path }
      - opts.merge!({ state: :active}) if params[:action] == 'about'
      - n.link 'About', opts

